*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b,#0f172a);
    color:white;
}

/* Navigation */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#1c1c1c;
    position:sticky;
    top:0;
    z-index:100;
}

nav h2{
    color:#00bfff;
}

ul{
    display:flex;
    list-style:none;
    gap:20px;
}

ul a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

ul a:hover{
    color:#00bfff;
}

/* Hero Section */

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:60px;
    text-shadow:0 0 20px #00bfff;
}

.hero p{
    margin:20px;
    font-size:22px;
}

/* Profile Photo */

.profile-pic{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #00bfff;
    margin:20px 0;
    box-shadow:0 0 25px #00bfff;
}

/* Buttons */

button{
    padding:15px 30px;
    border:none;
    border-radius:10px;
    background:#00bfff;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.1);
    box-shadow:0 0 20px #00bfff;
}

/* Social Links */

.socials{
    margin-top:20px;
}

.socials a{
    color:#00bfff;
    text-decoration:none;
    margin:0 10px;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
}

.socials a:hover{
    color:white;
}

/* Sections */

section{
    padding:80px;
    text-align:center;
}

section h2{
    margin-bottom:20px;
    color:#00bfff;
}

/* Cards */

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:30px;
}

.card{
    background:#1e293b;
    padding:30px;
    width:220px;
    border-radius:15px;
    transition:0.3s;
    border:1px solid #00bfff;
    color:white;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px #00bfff;
}

/* Certificate Links */

#certificates a{
    text-decoration:none;
    color:white;
}

/* Footer */

footer{
    padding:20px;
    text-align:center;
    background:#000;
}
